<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Google Powered Site Search | Tutorialzine Demo</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/search.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>Fancy Search Box</h1>
            <h2>Try below!</h2>
            <div class="searchInput">
                <input type="text" placeholder="what's in your mind...">
                <div class="resultBox">
                    <!-- here list are inserted from javascript -->
                </div>
                <div class="icon"><i class="fas fa-search"></i></div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='scripts/search.js') }}"></script>
    </body>
</html>